<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Avatar</title>
    <link rel="stylesheet" href="https://vhg.cmp.uea.ac.uk/tech/jas/vhg2026/cwa/cwasa.css" />
    <script type="text/javascript" src="https://vhg.cmp.uea.ac.uk/tech/jas/vhg2026/cwa/allcsa.js"></script>
</head>
<body onload="CWASA.init({
    cwaBase: 'https://vhg.cmp.uea.ac.uk/tech/jas/vhg2026/cwa/',
    'avsbsl' : ['luna', 'siggi', 'anna', 'marc', 'francoise'],
    'avSettings' : { 'avList': 'avsbsl', 'initAv': 'anna' }
});">
    <div class="CWASAAvatar av0"></div>
</body>
</html>
